/*

Colors used:
Primary Color (Gray): #4a4a4a;
Secondary Color (Green): #005f73;
*/

header {
  background-color: #ffffff;
  width: 100%;
  margin: 10px;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  } img { width: 100%; }

a {
  color: #005f73;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #005f73;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #005f73;
}
a:active { /* selected link */
  color: #4a4a4a;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #005f73; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  color: #005f73;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  font-weight: bold;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
