/*

Colors used:
Primary Color (Gray): #4a4a4a;
Secondary Color (Green): #005f73;
*/

/* :::::::::::::: GENERAL :::::::::::::::: */

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a; }


/* :::::::::::::: TYPOGRAPHY :::::::::::::::: */
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  color: #005f73;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  font-weight: bold;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #005f73;
  font-size: 20px;
  text-decoration: none; /* No underlining */
  list-style-type: none;
}

a:hover,
a:focus {
  color: #005f73;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #005f73;
}
a:active { /* selected link */
  color: #4a4a4a;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #005f73; /* width of the border, type, color */
  transition: 0.2s opacity;
}



.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* :::::::::::::: GLOBAL :::::::::::::::: */
img {
width: 100%; }

.logo {
  text-align: center;
  display: block;
  font-size: 6em;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  color: #005f73;
}

header {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px 5px;
}

footer {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  text-align: center;
  }

  .social {
    text-align: center;
    font-size: 40px;
  }

  .social a {
    font-size: 30px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
/* :::::::::::::: NAVIGATION :::::::::::::::: */
nav > ul {
  list-style-type: none;
  padding: 0;

}

nav > ul > li {
  display: inline-block

}

nav > ul > li > a {
  padding: 0 15px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: #005f73;
  list-style-type: none;
}

nav > ul > li > a:hover{
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  list-style-type: none;
}

nav > ul > li > a:active {
  padding: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  list-style-type: none;
}
/* :::::::::::::: PAGE SPECIFIC :::::::::::::::: */

#hero {
  text-align: center; /* Centers text */
  background-color: #f9f9f9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
  background-color: #f9f9f9;
  margin: 0;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px;
  solid #4a4a4a; }

#work .row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    overflow: hidden;
  }

  body {
    font-size: 18px;
  }

  .logo {
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 50%;
  }
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* :::::::::::::: MEDIA QUERIES :::::::::::::::: */
